@media screen and (max-width: 650px) {
  .navbar {
    flex-direction: column;
  }
  .logo {
    margin: 10px 0;
    padding: 0;
  }
  .search {
    width: 80%;
    padding: 10px 0;
  }
  .search input {
    width: 95%;
  }
  .btn {
    margin: 5px;
  }
  .slider img {
    width: 90vw;
  }
  .box {
    width: 70vw;
  }
  .box-items {
    flex-direction: column;
    align-items: flex-end;
  }
  .box-item {
    width: 90%;
  }
  .box-item img {
    width: 90%;
  }
  .footer {
    position: relative;
    top: 870vh;
  }
}
